<h4 class="login_page--content--register--title">{{ "sylius.register.register"|trans }}</h4>
<a href="{{ path('sylius_shop_register') }}" class="btn-secondary login_page--content--register--button">
    {{ 'sylius.ui.create_an_account'|trans }}
</a>
