@import "app.scss";

.account_order_show
{
    max-width: 1000px;
    width: 100%;
    background-color: $secondary-color-light;
    color: $primary-color-dark;
    padding: 30px;
    border-radius: 5px;

}

@media(max-width: $breakPointM)
{
    .account_order_show
    {

        #order-invoices
        {
            thead
            {
                display: none;
            }
        }

        #sylius-order
        {
            thead
            {
                display: none;
            }
        }

        .ui.table:not(.unstackable) tbody tr{
            
            display: grid!important;
            grid-template-columns: auto 200px;
            grid-template-rows: repeat(4,auto);

            td:nth-child(1)
            {
                grid-row: 1 / 5;
            }

            td:not(:nth-child(1))
            {
                text-align: right!important;
            }

        }
    }
}

@media(max-width: $breakPointS)
{
    .account_order_show
    {
        .ui.table:not(.unstackable) tbody tr{
                
            display: grid!important;
            grid-template-columns: auto;
            grid-template-rows: repeat(4,auto);
    
            td:nth-child(1)
            {
                display: flex!important;
                align-items: center;
                justify-content: center;
    
                .ui.header
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    .content
                    {
                        padding: 0;
                    }
                }
    
            }
    
            td:not(:nth-child(1))
            {
                text-align: center!important;
            }
    
        }
    }
}