@import "app.scss";

.change_password
{
    background-color: $primary-color-dark;
    // padding: 30px;
    width: 100%;
    max-width: 600px;

    .form-bijoux
    {
        max-width: 600px;

        .account_layout--content--cont_btn
        {
            margin-top: 20px;
        }
    }
}