@import "app.scss";

.legal_page
{
    min-height: calc(100vh - #{$headerHeight});
    background-color: $primary-color-dark;
    color: $secondary-color-light;

    display: flex;
    justify-content: center;

    &--cont
    {
        margin-top: 50px;
        max-width: 800px;
        width: 100%;
        padding: 30px;
        padding-bottom: 80px;
    }

    &--title
    {
        font-family: $fontTitle;
        font-size: 70px;
        text-align: center;
        font-weight: normal;
        margin: 0;
    }

    &--body
    {
        h2
        {
            font-family: $fontSubTitle;
            font-size: 40px;
        }

        h3
        {
            font-family: $fontSubTitle;
            font-size: 30px;
        }

        p
        {
            font-family: $fontBody;
            font-size: 20px;
            text-align: justify;
        }

        a
        {
            font-weight: bold;
            text-decoration: underline;

            &:hover
            {
                color: $secondary-color;
            }
        }
    }


}