<div class="checkout_page--address--button_cont">
    <a href="{{ path('sylius_shop_homepage') }}" class="btn-primary-light checkout_page--address--button_cont--btn"><i class="arrow left icon"></i> {{ 'sylius.ui.back_to_store'|trans }}</a>
    <button type="submit" id="next-step" class="btn-secondary checkout_page--address--button_cont--btn" {{ sylius_test_html_attribute('next-step') }}>{{ 'sylius.ui.next'|trans }} {#<i class="arrow right icon"></i>#}</button>
</div>
