{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {# {% block breadcrumb %}
    {% endblock %} #}

    <div class="account_layout">
        <div class="account_layout--menu">
            {{ sylius_template_event('sylius.shop.account.layout.menu') }}
        </div>
        <div class="account_layout--content">
            {{ sylius_template_event('sylius.shop.account.layout.before_subcontent') }}

            {% block subcontent %}
            {% endblock %}

            {{ sylius_template_event('sylius.shop.account.layout.after_subcontent') }}
        </div>
    </div>
{% endblock %}
